body {
	margin: 0;
	background-color: black;
  }
  
  .star {
	position: absolute;
	width: 1px;
	height: 1px;
	background-color: white;
  }

  .intro {
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  transform: translate(-50%, -50%);
	  z-index: 1;
	  animation: intro 3.5s ease-out 1s;
	  color: rgb(75, 213, 238);
	  font-weight: 400;
	  font-size: 300%;
	  opacity: 0;
  }
  
  @keyframes intro {
	  0% {
		  opacity: 0;
	  }
	  20% {
		  opacity: 1;
	  }
	  90% {
		  opacity: 1;
	  }
	  100% {
		  opacity: 0;
	  }
  }
  
  /* Set the animation & hide the logo */
  .logo {    
	  position: absolute;
	  z-index: 1;
	  margin: auto;
	  animation: logo 7s ease-out 5s;
	  opacity: 0;
	  left: calc(50vw - 9em);
	  top: 40vh;
  }
  
  .logo img{
	  width: inherit;
  }
  
  @keyframes logo {
	  0% {
		  width: 18em;        
		  transform: scale(2.25);
		  opacity: 1;
	  }
	  50% {
		  opacity: 1;
		  width: 18em;      
	  }
	  100% {
		  opacity: 0;
		  transform: scale(0.1);
		  width: 18em;
	  }
  }
  
  p {
	color: #FFFF82;
  }
  
  #board {
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	transform: perspective(300px) rotateX(25deg);
	transform-origin: 50% 100%;
	text-align: justify;
	position: absolute;
	margin-left: -9em;
	font-weight: bold;
	overflow: hidden;
	font-size: 350%;
	height: 50em;
	width: 18em;
	bottom: 0;
	left: 50%;
  }
  
  #board:after {    
	position: absolute;
	content: ' ';
	bottom: 60%;
	left: 0;
	right: 0;
	top: 0;
  }
  
  #content {
	animation: scroll 75s linear 10s;
	position: absolute;
	top: 100%;
  }
  
  #title, #subtitle {
	text-align: center;
  }
  
  @keyframes scroll {
	  0% {
		  top: 100%;
	  }
	  100% {
		  top: -170%;
	  }
  }